/.vs
/autoconf
/automake
/bison
/build
/capstone
/elfutils
/flex
/gettext
/glib
/glib-networking
/glib-schannel
/gn
/ipch
/json-glib
/libdwarf
/libffi
/libgee
/libiconv
/libpsl
/libsoup
/libtool
/libunwind
/libxml2
/m4
/openssl
/pkg-config
/quickjs
/releng/*.user
/releng/__pycache__/
/releng/modules/frida-gadget-ios/*.dylib
/releng/modules/frida-gadget-ios/node_modules
/sqlite
/tinycc
/v8-checkout
/vala
/xz
/zlib
