[submodule "frida-gum"]
	path = subprojects/frida-gum
	url = https://github.com/frida/frida-gum.git
[submodule "frida-core"]
	path = subprojects/frida-core
	url = https://github.com/frida/frida-core.git
[submodule "frida-python"]
	path = subprojects/frida-python
	url = https://github.com/frida/frida-python.git
[submodule "frida-node"]
	path = subprojects/frida-node
	url = https://github.com/frida/frida-node.git
[submodule "frida-swift"]
	path = subprojects/frida-swift
	url = https://github.com/frida/frida-swift.git
[submodule "frida-clr"]
	path = subprojects/frida-clr
	url = https://github.com/frida/frida-clr.git
[submodule "frida-qml"]
	path = subprojects/frida-qml
	url = https://github.com/frida/frida-qml.git
[submodule "frida-tools"]
	path = subprojects/frida-tools
	url = https://github.com/frida/frida-tools.git
[submodule "frida-go"]
	path = subprojects/frida-go
	url = https://github.com/frida/frida-go
[submodule "releng"]
	path = releng
	url = https://github.com/frida/releng.git
