/.vs
/autoconf
/automake
/build
/elfutils
/gettext
/glib
/glib-openssl
/glib-schannel
/gn
/ipch
/json-glib
/libdwarf
/libffi
/libgee
/libiconv
/libpsl
/libsoup
/libtool
/libunwind
/libxml2
/m4
/openssl
/pkg-config
/releng/*.user
/releng/__pycache__/
/releng/modules/frida-gadget-ios/*.dylib
/releng/modules/frida-gadget-ios/node_modules
/sqlite
/stlport
/v8-checkout
/vala
/xz
/zlib
