[submodule "udis86"]
	path = udis86
	url = git://github.com/frida/udis86.git
[submodule "frida-gum"]
	path = frida-gum
	url = git://github.com/frida/frida-gum.git
[submodule "frida-core"]
	path = frida-core
	url = git://github.com/frida/frida-core.git
[submodule "frida-python"]
	path = frida-python
	url = git://github.com/frida/frida-python.git
[submodule "frida-npapi"]
	path = frida-npapi
	url = git://github.com/frida/frida-npapi.git
