*.VC.*
*.opensdf
*.pyc
*.sdf
*.suo
*.swp
*.user
*~
/autoconf
/automake
/binutils
/build
/gettext
/glib
/ipch
/json-glib
/libffi
/libgee
/libiconv
/libtool
/libunwind
/m4
/pkg-config
/stlport
/v8
/vala
/xz
/zlib
