[MASTER]
jobs=0
load-plugins=
    pylint.extensions.bad_builtin,
    pylint.extensions.set_membership,

[REPORTS]
score=no

[MESSAGES CONTROL]
disable=
    abstract-method,
    arguments-differ,
    arguments-renamed,
    attribute-defined-outside-init,
    broad-except,
    cell-var-from-loop,
    consider-using-f-string,
    consider-using-with,
    cyclic-import,
    deprecated-decorator,
    duplicate-code,
    duplicate-value,
    exec-used,
    fixme,
    import-error,
    import-outside-toplevel,
    inconsistent-mro,
    inconsistent-return-statements,
    invalid-name,
    invalid-unary-operand-type,
    line-too-long,
    method-cache-max-size-none,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    multiple-imports,
    multiple-statements,
    no-else-break,
    no-else-continue,
    no-else-raise,
    no-else-return,
    no-member,
    no-name-in-module,
    no-self-argument,
    non-parent-init-called,
    not-an-iterable,
    not-callable,
    pointless-string-statement,
    protected-access,
    raise-missing-from,
    redeclared-assigned-name,
    redefined-argument-from-local,
    redefined-builtin,
    redefined-outer-name,
    subprocess-run-check,
    super-init-not-called,
    too-few-public-methods,
    too-many-ancestors,
    too-many-arguments,
    too-many-boolean-expressions,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-public-methods,
    too-many-return-statements,
    too-many-statements,
    typevar-name-incorrect-variance,
    undefined-loop-variable,
    unidiomatic-typecheck,
    unnecessary-dict-index-lookup,
    unnecessary-lambda-assignment,
    unsubscriptable-object,
    unused-argument,
    unused-variable,
    useless-super-delegation,
    wrong-import-order,
    wrong-import-position,
