Alexandre Foley <Alexandre.foley@usherbrooke.ca> AlexandreFoley <alexandre.foley@usherbrooke.ca>
Igor Gnatenko <i.gnatenko.brain@gmail.com> Igor Gnatenko <ignatenko@redhat.com>
Jussi Pakkanen <jpakkane@gmail.com> Jussi Pakkanen <jpakkane@brash.local>
Jussi Pakkanen <jpakkane@gmail.com> jpakkane <jpakkane@gmail.com>
Liam Beguin <liambeguin@gmail.com> Liam Beguin <lvb@xiphos.com>
Nirbheek Chauhan <nirbheek@centricular.com> Nirbheek Chauhan <nirbheek.chauhan@gmail.com>
Nicolas Schneider <nioncode+git@gmail.com>  Nicolas Schneider <nioncode+github@gmail.com>
Patrick Griffis <tingping@tingping.se> TingPing <tingping@tingping.se>
Thibault Saunier <thibault.saunier@osg.samsung.com> Thibault Saunier <saunierthibault@gmail.com>
Thibault Saunier <thibault.saunier@osg.samsung.com> Saunier Thibault <saunierthibault@gmail.com>
Tim-Philipp Müller <tim@centricular.com> Tim-Philipp Müller <tim@centricular.net>
